form{
    margin: 10px;
    padding: 10px;
    border: none;
    width: 30%;
    background-color: rgb(236, 205, 118);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form label,.form select{
    margin: 5px;
    padding: 5px;
}
.form input{
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.form input[type="submit"]{
    margin-top: 15px;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-left: 45%;
}