  body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background: #f3f3f3;
        }

        header {
            background: #c50f46;
            color: white;
            padding: 15px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }

        #info {
            background: #ffffff;
            padding: 10px;
            margin: 10px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
         #mensaje {
            background: #ffffff;
            padding: 10px;
            margin: 10px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }


        #contenedor {
            display: flex;
            gap: 10px;
            padding: 10px;
            flex-direction: column;
        }

        #menu {
            width: auto;
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;
            align-items: center;
            background: #ffffff;
            padding: 10px;
            border-radius: 6px;
            min-height: auto;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        #contenido {
            flex: 1;
            background: #ffffff;
            padding: 15px;
            border-radius: 6px;
            min-height: 400px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }

        .btnMenu {
            display: inline-block;
            width: auto;
            padding: 10px 15px;
            margin: 0;
            border: none;
            background: #c50f46;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.15s ease;
        }

        .btnMenu:hover {
            transform: scale(1.1);
            background: #b30a5e;
        }

        .modal { display:none; 
            position:fixed; 
            left:0; 
            top:0; 
            width:100%; 
            height:100%; 
            background:rgba(0,0,0,0.7);
        }
        #modal-cuerpo { 
            margin:10% auto; 
            background:#fff; 
            padding:30px; 
            border-radius:8px; 
            width:300px;
        }
